body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
}

nav {
    display: flex;
    gap: 90px; 
    padding: 10px;
}

header button {
    background-color: #e0e0e0;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 120px;
}

header button:hover {
    background-color: #d6d6d6;
}

main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 50px 20px;
    gap:  160px;
}

.introduction {
    max-width: 500px;
    text-align: center; 
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 10px 0 5px 0; 
}

.subtitle {
    color: gray;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    gap: 15px; 
    margin-top: 20px; 
}

.actions .button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

aside img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 0 auto; 
}

.projets {
    text-align: center;
    padding: 50px 20px;
    background-color: black;
}

.projets h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: white;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: white;
}

.card-header {
    height: 150px;
    background-color: #333; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    border-bottom: 1px solid #444;
}

.card-header img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}


.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.card-body h3 {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
}

.card-body p {
    font-size: 0.9rem;
    color: #aaa;
    flex-grow: 1;
}

.tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.tag {
    background-color: #444;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.code-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

.code-link img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
